@charset "UTF-8";

/* UNIVERSAL */
body {
	padding: 5px;
}

.page-wrap {
	/* margin: 0 80px; */
	max-width: 90%;
	margin: 0 auto;
}

.hidden {
	visibility: hidden;
}

.btn {
	box-shadow: 1px 1px 4px #0003;
}

/* NAVIGATION */
nav ul {
	display: inline-block;
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding: 10px;
}

.dropdown-container {
	display: inline-block;
	position: relative;
}

.dropdown-mnu {
	
	/* display/positioning */
	display: none;
	position: absolute;
	z-index: 1;
	
	/* size */
	min-width: 200px;
	
	/* color */
	background-color: #F2F8FF;
	border: 1px solid #DDD;
	box-shadow: 0px 8px 16px -2px #7778;
}

.dropdown-container:hover .dropdown-mnu {
	display: block;
}

.dropdown-link {
	
}

.dropdown-link li {
	width: 100%;
}

.dropdown-link:hover li {
	background-color: #007bff;
	color: #EEE;
}

/* SHOPPING CART */
.cart {
	float: right;
	margin-bottom: 10px;
}

.cart-container {
	
}

.cart img, .cart p {
	margin: 0;
}

.cart button {
	background-color: transparent;
	border: 2px solid transparent;
	padding: 5px;
	position: relative;
}

.cart button:hover {
	
	/* color */
	background-color: #EEEB;
	
	/* border */
	border: 2px solid #2A30DB;
	border-radius: 10px;
	
	/* glow */
	box-shadow: 0 0 15px -5px #CF9A0856;
	
	/* transitions */
	transition: border 500ms, box-shadow 400ms;
}

#cart-item-count {
	position: absolute;
	top: 15px;
	right: 15px;
}

div.empty-container {
	
	height: 250px;
	width: 100%;
	
	margin-top: 50px;
	padding: 25px;
	
	border: 1px solid #DDD;
	border-radius: 20px;
	
	line-height: 100px;
	text-align: center;
	
	box-shadow: 0 2px 5px -2px #0004;
}

div.empty-container p {
	
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 2em;
	font-style: italic;
	font-weight: 250;
	text-shadow: 1px 2px 10px #0004;
}

/*
div.empty-cart::before {
	display: block;
	clear: both;
	content: "";
}
*/

/* unit price column */
#shopping-cart-tbl thead tr th:nth-child(2),
#shopping-cart-tbl thead tr th:nth-child(4),
#shopping-cart-tbl tbody tr td:nth-child(2),
#shopping-cart-tbl tbody tr td:nth-child(4),
#shopping-cart-tbl tfoot tr td:nth-child(3),
#shopping-cart-tbl tfoot tr td:nth-child(4) {
	text-align: right;
}

/* quantity column */
#shopping-cart-tbl thead tr th:nth-child(3),
#shopping-cart-tbl tbody tr td:nth-child(3) {
	text-align: center;
}

#shopping-cart-tbl tfoot {
	border-top: 2px solid #000;
}

/* remove from cart button */
.delete-btn {
	cursor: pointer;
	opacity: 0.33;
	visibility: visible;
	transition: opacity 0.25s;
}

/* PRODUCTS */
#products-container {
	/* flexbox options */
	display: flex;
	flex-wrap: wrap;
	
	width: 100%;
	margin: 15px auto;
}

.card {
	display: inline-block;
	width: 250px;
	margin-right: 15px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 3px -3px #000A;
	
	/* transitions */
	transition: outline 0.05s linear;
	-moz-transition: outline 0.05s linear;
	-o-transition: outline 0.05s linear;
	-webkit-transition: outline 0.05s linear;
}

.card:hover {
	outline: 2px solid #49E;
	-moz-outline-radius: 5px;
}

/*
.product-body {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1px;
}
*/

.product-img {
	margin: 0 auto 10px auto;
	border-radius: 2px;
}


.in-cart {
	outline: 2px solid #CF9A08;
}

.cart-item-form {
	margin: 0 9px 9px 9px;
}

.cart-item-form:last-child:after {
	display: table;
	clear: both;
	content: "";
}

.cart-item-form button:hover {
	background: #FFF;
	color: green;
}

.cart-item-qty {
	width: 60px;
	border: 1px solid #DDD;
	text-align: center;
}

.cart-item-qty:hover {
	border-color: #888;
	/* transition: border-color 150ms; */
}

.add-to-cart-btn {
	float: right;
}

#update-cart-msg {
	position: absolute;
	bottom: 40px;
	right: 5%;
	margin-right: 0;
}

#update-cart-msg::before {
	clear: both;
	content: "";
	display: block;	
}

#checkout-form {
	float: right;
}

#checkout-form::after {
	clear: both;
	content: "";
	display: block;
}

/* ORDERS */
/* order history */
#order-history-tbl {
	
}

/* view order button */
#order-history-tbl tbody tr td:first-child {
	width: 150px;
}

#order-history-tbl tbody tr td:nth-child(2) {
	width: 165px;
}

/* order detail */
#order-detail-tbl {
	
}

/* table header */
#order-detail-tbl thead tr:first-child * {
	background-color: inherit;
	color: #FFF;
}

/* common cell settings*/
#order-detail-tbl tbody tr td {
	vertical-align: middle;
}

/* product image */
#order-detail-tbl tbody tr td:first-child {
	width: 65px;
}

.thumbnail {
	/* border: 1px solid #DDD; */
	box-shadow: 0 2px 8px -5px #999;
}

/* product description */
#order-detail-tbl tbody tr td:nth-child(2) {
	
}

/* unit price */
#order-detail-tbl thead tr th:nth-child(3),
#order-detail-tbl tbody tr td:nth-child(3)
{
	text-align: center;
}

/* quantity ordered */
#order-detail-tbl thead tr th:nth-child(4),
#order-detail-tbl tbody tr td:nth-child(4)
{
	text-align: center;
}

/* line item cost */
#order-detail-tbl thead tr th:nth-child(5),
#order-detail-tbl tbody tr td:nth-child(5)
{
	text-align: right;
}

#order-info * span {
	font-weight: normal;
}

/* LOGIN PAGE */
.login-container {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: repeat(2, 25px);
	grid-gap: 10px;
	width: 300px;
}

.username-lbl {
	grid-column: 1;
	grid-row: 1;
}

.username-txtbox {
	grid-column: 2 / 4;
	grid-row: 1;	
}

.password-lbl {
	grid-column: 1;
	grid-row: 2;	
}

.password-txtbox {
	grid-column: 2 / 4;
	grid-row: 2;	
}

.login-button {
	grid-column: 2 / span 2;
	grid-row: 3;
	margin-top: 10px;
}

/* ICONS & IMAGAES */
.icon-column {
	width: 30px;
}
.interactive-icon {
	cursor: pointer;
}
