/* CSS Stylesheet for: 
  'admin/addProduct.php'
  'admin/editProduct.php'
*/

.form-lbl {
  font-weight: 500;
}

#grid-group {
  display: grid;
  grid-template-columns: 150px repeat(2 , auto) 300px;
  grid-gap: 10px;
  width: 800px;
}

#lbl-vegetation {
  grid-column: 1;
  padding-top: 7px;
  text-align: right;
}

#sel-vegetation {
  grid-column: 2 / 4;
}

#lbl-subtype {
  grid-column: 1;
  padding-top: 7px;
  text-align: right;
}

#sel-subtype {
  grid-column: 2 / 4;
}

#loading-img-subtype {
  grid-column: 4;
  margin-top: 7px;
}

#lbl-variety {
  grid-column: 1;
  padding-top: 7px;
  text-align: right;
}

#sel-variety {
  grid-column: 2 / 4;
}

#loading-img-variety {
  grid-column: 4;
  margin-top: 7px;
}

#lbl-bloom-pd {
  grid-column: 1;
  padding-top: 7px;
  text-align: right;
}

#sel-bloom-pd {
  grid-column: 2 / 4;
}

#lbl-flower-color {
  grid-column: 1;
  padding-top: 7px;
  text-align: right;
}

#sel-flower-color {
  grid-column: 2 / 4;
}

#lbl-product-desc {
  grid-column: 1;
  /* padding-top: 7px; */
  text-align: right;  
}

#txt-product-desc {
  grid-column: 2 / 4;
}

#lbl-height {
  grid-column: 1;
  padding-top: 7px;
  text-align: right;
}

#sub-grid {
  grid-area: 7 / 2 / span 1 / span 2;
  display: grid;
  grid-template-columns: 50px auto auto 50px auto;
  /* width: 100%; */
}

#txt-height {
  grid-column: 1;
  padding: 0 3px;
  text-align: center;
}

#sel-height-units {
  grid-column: 2;
  margin-left: 6px;
}

#lbl-spread {
  grid-column: 3;
  margin-left: 20px;
  padding-top: 7px;
  text-align: right;
}

#txt-spread {
  grid-column: 4;
  margin-left: 8px;
  padding: 0 3px;
  text-align: center;
}

#sel-spread-units {
  grid-column: 5;
  margin-left: 6px;
}

#lbl-price {
  grid-column: 1;
  padding-top: 7px;
  text-align: right;  
}

#txt-price {
  grid-column: 2;
  width: 38%;
  padding: 0 5px;
}

#lbl-product-image {
  grid-column: 1;
  text-align: right;
}

#txt-product-image {
  grid-column: 2 / 4;
}

#img-product-container {
  grid-column: 4 / 5;
  grid-row: 7 / 10;
  background: left / contain no-repeat;
}

#product-image-alt {
	grid-column: 2 / span 2;
	margin: 0;
	text-align: center;
}

#lbl-product-image-file {
	grid-row: 11;
	grid-column: 1;
	text-align: right;
}

#product-image-file {
	grid-row: 11;
	grid-column: 2;	
}

#btn-save {
	grid-row: 12;
  	grid-column: 2 / 3;
}