/* CSS Stylesheet for: 
  'admin/displayProducts.php'
*/

.search-container {
  /* width: 360px; */
  position: relative;
  margin-bottom: 12px;
  border: 1px solid #000;
  border-radius: 5px;
}

#search-products {
  display: inline-block;
  width: 75%;
  border: none;
  margin: 3px 0;
  padding: 5px;
  border-radius: inherit;
}

.search-container button {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 50px;
  margin: 0;
  right: 0;
  top: 0;
  border: none;
}

/* THIS ISN'T WORKING... WHY?
.search-container > button.bg-primary:hover {
  background-color: #FFF;
  border: 2px solid #00E;
  transition: border 0.2s linear;
}
*/