/* REGISTRATION PAGE */
#registration-form {
	width: 410px;
}

#registration-container {
	display: grid;
	grid-template-rows: 50px repeat(9, 20px) 50px repeat(7, 20px);
	grid-template-columns: repeat(2, auto);
	grid-gap: 10px;
}

.form-section-heading {
	
}

.form-lbl {
	align-self: end;
	margin-bottom: -9px;
}

.form-ctl {
	align-self: start;
}

/* Personal Information */
#section-heading-personal-info {
	grid-column: 1 / span 2;
	grid-row: 1;
}

#lbl-firstname {
	grid-column: 1;
	grid-row: 2;
}

#txt-firstname {
	grid-column: 1;
	grid-row: 3;
}

#lbl-lastname {
	grid-column: 2;
	grid-row: 2;
}

#txt-lastname {
	grid-column: 2;
	grid-row: 3;		
}

#lbl-streetaddress {
	grid-column: 1 / span 2;
	grid-row: 4;
}

#txt-addr-line-1 {
	grid-column: 1 / span 2;
	grid-row: 5;
}

#txt-addr-line-2 {
	grid-column: 1 / span 2;
	grid-row: 6;
	margin-top: -6px;	
}

#lbl-city {
	grid-column: 1 / span 2;
	grid-row: 7;
}

#txt-city {
	grid-column: 1 / span 2;
	grid-row: 8;	
}

#lbl-state {
	grid-column: 1;
	grid-row: 9;	
}

#sel-state {
	grid-column: 1;
	grid-row: 10;	
}

#lbl-zipcode {
	grid-column: 2;
	grid-row: 9;
}

#txt-zipcode {
	grid-column: 2;
	grid-row: 10;	
}

/* Login Information */
#section-heading-login-info {
	grid-column: 1 / span 2;
	grid-row: 11;
}

#lbl-email {
	grid-column: 1 / span 2;
	/* grid-row: 12; */
}

#txt-email {
	grid-column: 1 / span 2;
	/* grid-row: 13; */
}

#lbl-reenter-email {
	grid-column: 1 / span 2;
	/* grid-row: 14;	 */
}

#txt-reenter-email {
	grid-column: 1 / span 2;
	/* grid-row: 15;	 */
}

#lbl-username {
	grid-column: 1;
	grid-row: 8
}

#txt-username {
	grid-column: 1;
	grid-row: 9;
}

#lbl-password {
	grid-column: 2;
	grid-row: 8;
}

#txt-password {
	grid-column: 2;
	grid-row: 9;
}

#btn-register {
	grid-column: 1 / span 2;
	grid-row: 10;
	height: 35px;
	margin-top: 10px;
}