/* CSS Stylesheet for: 
  'admin/addUser.php'
  'admin/editUser.php' 
*/

#user-form {
	width: 410px;
}

#user-container {
	display: grid;
	grid-template-rows: 50px repeat(9, 20px) 50px repeat(7, 20px);
	grid-template-columns: repeat(2, auto);
	grid-gap: 15px;
}

.form-lbl {
	align-self: end;
  margin-bottom: -14px;
  font-weight: 500;
}

.form-ctl {
  align-self: start;
  padding: 3px;
}

#lbl-user-role {
  grid-column: 1;
  grid-row: 1;
}

#sel-user-role {
  grid-column: 1;
  grid-row: 2;
}

#lbl-firstname {
	grid-column: 1;
	grid-row: 3;
}

#txt-firstname {
	grid-column: 1;
	grid-row: 4;
}

#lbl-lastname {
	grid-column: 2;
	grid-row: 3;
}

#txt-lastname {
	grid-column: 2;
	grid-row: 4;		
}

#lbl-email {
	grid-column: 1 / span 2;
	/* grid-row: 12; */
}

#txt-email {
	grid-column: 1 / span 2;
	/* grid-row: 13; */
}

#lbl-username {
	grid-column: 1;
	grid-row: 7;
}

#txt-username {
	grid-column: 1;
	grid-row: 8;
}

#lbl-password {
	grid-column: 2;
	grid-row: 7;
}

#txt-password {
	grid-column: 2;
	grid-row: 8;
}

#btn-register {
	grid-column: 1;
	grid-row: 9;
	height: 35px;
	margin-top: 10px;
}