/* CSS Stylesheet for displayUsers.php */

/* Date Created */
thead tr th:first-child,
tr td:first-child
{
  width: 175px;
  text-align: center;
}

/* Username */
thead tr th:nth-child(2),
tr td:nth-child(2)
{

}

/* User Role */
thead tr th:nth-child(3),
tr td:nth-child(3)
{
  width: 175px;
  text-align: center;
}

/* Full Name */
thead tr th:nth-child(4),
tr td:nth-child(4)
{
  
}

/* E-mail Address */
thead tr th:nth-child(5),
tr td:nth-child(5)
{

}